<template>
  <section class="text-gray-600 body-font">
    <div
      class="container flex flex-col items-center justify-center px-5 mx-auto"
    >
      <div class="bg-green-300 pt-4 px-4 rounded-t-lg w-5/6 lg:w-4/6 pb-1">
        <h3 class="text-center text-white">
          ราคาเหล็กประจำวันที่ {{ this.timestamp }}
        </h3>
      </div>
      <div class="text-center bg-gray-100 w-5/6 lg:w-4/6 py-2">
        <span class="text-lg font-semibold">บริษัทมาลี ค้าเหล็ก</span><br />
        <span class="text-sm text-gray-500 px-2"
          >414 หมู่ที่ 10 ถนนเศรษฐกิจ คลองมะเดื่อ สมุทรสาคร โทร 034-877264
        </span>
      </div>
      <div class="w-5/6 lg:w-4/6 border-2 border-gray-100 rounded-b-lg">
        <div
          class="flex justify-inline py-2"
          v-for="item in product"
          :key="item.SCR_MAT_CD"
        >
          <div class="w-3/6 pl-10 md:pl-24 xl:pl-40">
            เหล็ก{{ item.WE_NICKNAME }}
          </div>
          <div class="w-3/6 pl-16 md:pl-24 xl:pl-44">{{ item.small }} บาท</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
const apiurl = "https://hook.zubbsteel.com/line-ci/botprice/bot";

export default {
  data() {
    return {
      timestamp: "",
      product: [],
      all_month: [
        "มกราคม",
        "กุมภาพันธ์",
        "มีนาคม",
        "เมษายน",
        "พฤษภาคม",
        "มิถุนายน",
        "กรกฎาคม",
        "สิงหาคม",
        "กันยายน",
        "ตุลาคม",
        "พฤศจิกายน",
        "ธันวาคม",
      ],
      month: "",
    };
  },
  created() {
    this.getdate();
    this.getdata();
  },
  methods: {
    getdate() {
      const today = new Date();
      const date =
        today.getDate() +
        " " +
        this.all_month[today.getMonth()] +
        " " +
        (today.getFullYear() + 543);
      const dateTime = date;
      this.timestamp = dateTime;
    },
    getdata() {
      axios
        .get(apiurl + "/get_alldata")
        .then((Response) => (this.product = Response.data));
    },
  },
};
</script>
