<template>
  <div>
    <div class="flex justify-center">
      <div class="w-1/6 bg-indigo-400 p-3 rounded-t-lg">
        <h2 class="text-center font-semibold">สิทธิ์การขอราคา</h2>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="w-1/6 bg-gray-200 py-2 flex justify-inline flex justify-center"
      >
        <h3 class="text-center" v-if="start != ''">ผู้มีสิทธิ์ขอราคา</h3>
        <h3 class="text-center" v-else>ผู้ไม่มีสิทธิ์ขอราคา</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 cursor-pointer mx-2 text-yellow-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          @click="change_rank"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"
          />
        </svg>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-1/6 border-2 rounded-b-lg">
        <div v-if="start != ''">
          <div v-for="user in allNOW" :key="user.uid">
            <div class="flex justify-inline p-2">
              <h1 class="w-3/6 text-center">{{ user.displayName }}</h1>
              <input
                class="w-3/6 mx-2 mt-1 focus:outline-none"
                type="checkbox"
                v-model="toLock"
                :value="user.uid"
                checked
              />
            </div>
          </div>
        </div>
        <div v-else>
          <div v-for="user in allNOW" :key="user.uid">
            <div class="flex justify-inline p-2">
              <h1 class="w-3/6 text-center">{{ user.displayName }}</h1>
              <input
                class="w-3/6 mx-2 mt-1 focus:outline-none"
                type="checkbox"
                v-model="toUnlock"
                :value="user.uid"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-center m-2 border-t-2 border-gray-100">
          <button
            v-if="this.start != ''"
            class="bg-red-400 p-2 rounded-full hover:text-white mt-2 focus:outline-none"
            @click="alertSave"
            type="submit"
          >
            นำสิทธิ์ออก
          </button>
          <button
            v-else
            class="bg-green-400 p-2 rounded-full hover:text-white mt-2 focus:outline-none"
            @click="alertSave"
            type="submit"
          >
            เพิ่มสิทธิ์
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center"></div>
    <!-- <span>ปลดให้มีสิทธิ์{{ this.toUnlock }}</span
    ><br />
    <span>เอาสิทธิ์ออก{{ this.toLock }}</span> -->
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
import axios from "axios";
import Swal from "sweetalert2";
const apiurl_1 = "http://localhost:5000/";
export default {
  data() {
    return {
      a: false,
      alluser: [],
      toUnlock: [],
      toLock: [],
      start: "",
      send: "",
    };
  },
  computed: {
    allNOW() {
      return this.alluser;
    },
  },
  mounted() {},

  async created() {
    await this.getAlluser();
    this.change_rank();
    console.log(this.start);
  },
  methods: {
    async getAlluser() {
      console.log("ทำหลัง");
      var i = 0;
      await axios
        .get(apiurl_1 + "allUser")
        .then((response) => (this.alluser = response.data))
        .catch((error) => console.error(error));
    },
    async change_rank() {
      if (this.start == "") {
        this.send = "have";
        this.start = "A";
      } else {
        this.send = "nothave";
        this.start = "";
      }
      const res = await axios.get(apiurl_1 + "usernow/" + this.send);
      this.alluser = res.data;
    },
    async update() {
      console.log("ทำก่อน");
      console.log(this.toLock);
      axios.post(apiurl_1 + "update_unlock/", { uid: this.toUnlock });
      axios.post(apiurl_1 + "update_lock/", { uid: this.toLock });

      console.log("อัพเสร็จแล้ว");
    },
    async alertSave() {
      if (this.toUnlock == "" && this.toLock == "") {
        alert("เลือกคนที่ต้องการเปลี่ยนแปลงสิทธิ์ก่อน :)");
      } else {
        // Swal.fire({
        //   title: "ต้องการบันทึกสิทธิ์ใช่หรือไม่",
        //   showDenyButton: true,
        //   showCancelButton: false,
        //   confirmButtonText: `Yes`,
        //   denyButtonText: `No`,
        // }).then(async (result) => {
        //   /* Read more about isConfirmed, isDenied below */
        //   if (result.isConfirmed) {
        try {
          await this.update();
          // this.getAlluser();
          this.change_rank();
          this.toUnlock = [];
          this.toLock = [];
        } catch (error) {}
        alert("แก้ไขสิทธิ์การขอราคาแล้ว :)");
        //   }
        // });
      }
    },
  },
};
</script>
<style></style>
